<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​XÁC NHẬN ĐẶT HÀNG​">
    <meta name="description" content="">
    <title>About</title>
    <link rel="stylesheet" href="/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="/Content/About.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.1.5, nicepage.com">
    <meta name="referrer" content="origin">

</head>
<body class="u-body u-xl-mode" data-lang="en">
    
    <section class="u-align-left u-clearfix u-section-2" id="sec-caf0">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-align-center u-container-style u-custom-color-5 u-expanded-width u-group u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-text u-text-default u-text-palette-1-base u-text-1">Thông báo!</h2>
                    <p class="u-text u-text-2">Bạn không thể thực hiện thao tác này</p>
                    <a href="/QuanLy/DSLoai" class="u-border-2 u-border-black u-btn u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-palette-1-light-2 u-none u-text-black u-text-hover-white u-btn-1">ok</a>
                </div>
            </div>
        </div>
    </section>
   
</body>
</html>