<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />

<li class="u-nav-item">
    @if (ViewBag.chao != null)
    {
        <span>@ViewBag.chao</span>
        <a class="u-button-style u-hover-palette-2-light-2 u-nav-link u-palette-1-light-3" href="/TaiKhoan/DangXuat">Sign out</a>
    }
</li>