 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.u-section-1 .u-table-2 {
  width: 436px;
  margin: 68px 188px 0 auto;
}

.u-block-fffb-43 {
  background-image: none;
}

.u-block-fffb-59 {
  height: 46px;
}

.u-section-1 .u-table-cell-13 {
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -57px auto 0 0;
  padding: 16px 26px 16px 25px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -58px 1px 60px auto;
  padding: 16px 44px 17px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -59px;
    margin-right: auto;
    margin-left: 759px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-table-2 {
    height: 65px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 539px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 104px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    padding: 15px 11px 17px 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -58px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 17px;
    padding-bottom: 18px;
    padding-left: 15px;
  }
}