.u-section-1 .u-sheet-1 {
  min-height: 519px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 54px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 9px 10px 11px;
}

.u-block-8576-35 {
  background-image: none;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 184px auto 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-8 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 400;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 9px 10px 11px;
}

.u-block-1696-35 {
  background-image: none;
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 184px auto 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-8 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-11 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-12 {
  font-weight: 400;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 9px 10px 11px;
}

.u-block-f92e-35 {
  background-image: none;
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 184px auto 0 0;
}

.u-section-4 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-11 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-12 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-13 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-14 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-15 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-16 {
  font-weight: 400;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 9px 10px 11px;
}

.u-block-b30b-35 {
  background-image: none;
}

.u-section-4 .u-table-2 {
  width: 400px;
  margin: 17px 0 60px 740px;
}

.u-block-b30b-97 {
  font-size: 1.25rem;
}

.u-block-b30b-103 {
  height: 46px;
}

.u-section-4 .u-table-body-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-17 {
  font-size: 1.25rem;
  font-weight: 500;
}

.u-block-b30b-109 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    height: 109px;
  }

  .u-section-4 .u-table-2 {
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-4 .u-table-cell-17 {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-2 {
    width: 340px;
  }
}